api = 2
core = 7.x

projects[eck][subdir] = "contrib"
projects[eck][version] = "2.x"
projects[] = entityreference
projects[] = features
projects[] = field_validation
projects[] = file
projects[] = filehash
projects[] = strongarm
projects[] = url
projects[] = views

; Restore UUID support to ECK 2.x (UUID is in the 3.x branch)
projects[eck][patch][] = https://gist.githubusercontent.com/minorOffense/cb7b803362bc474e3607/raw/7cf0eaad3ecce52b91a5b3055c6d77fdc42302f5/uuid-eck-2.x.patch
